body {
  background: darkslategray;
  color: white;
  font-size: 2rem;
  text-align: center;
}
img {
  width: 25%;
  height: 25%;
}
button {
  background: #3498db;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 10px;
}
